<div class="container"> 
    <div class="alert alert-secondary text-center">
        <h1 class = "mt-5"> ALL POST </h1>
    </div>
    <table class = "table table-bordered">
        <thead class = "bg-dark text-center">
            <tr class = "text-white">
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class = "text-center">
        {{#each post}}
        <tr class ="bg-white">
              <td>{{_id}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>
                <td>
                    <a href="/admin/posts/edit{{_id}}" class="btn btn-sm btn-warning"> Edit Posts </a>
                </td>
        </tr>

        {{/each}}
       
        </tbody>
    </table>
</div>